@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.title{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    margin-left:220px;
    padding-right: 10px;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    align-items: center;
    width: 60%;
    height: 35px;
    border-radius: 20px;
    padding-left:10px ;
}
.search-bar-container{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.search-bar-container > input{
    padding: 7px 50em 7px 30px;
}
.search-bar-container > .MuiSvgIcon-root{
    padding-left: 5px;
    position: absolute;
}
.header-icon{

    padding-right: 10px;
}