.sidebar{

    margin: 0 8px;
    padding: 0px 5px;
    width: 20%;
    background-color: #ffffff;
    border-right: 1px solid gray;
    height: 100%;
    overflow: auto;

}

ul {
    list-style-type: none;
    
}

ul a {
    display:block;
    color:gray;
    padding: 8px;
    text-decoration: none;
    font-weight:400;
}

li{
    transition: transform .4s;
}
li:hover{
    border-radius: 8px;
    background-color: #6562ff8c;
    cursor: pointer;
    transform: scale(1.1);
}